body {
  padding-top: 4.5rem;
}

.hackathon-card {
  cursor: pointer;
}

.teams-container {
  display: flex;
}

.team-card {
  padding:5px;
}

.hackathon-container {
  display: flex;
}

.hackathon-card {
  margin: 50px;
}

/*.hackathon-container .img {*/
  /*display: block;*/
  /*width: 100%;*/
  /*height: auto;*/
/*}*/